<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPortal">
        <activity
            android:name=".ui.admin.SelectCoursesForTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.SelectTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.SelectStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.UpdateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.SelectCoursesForStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.UpdateTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.UpdateStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AddTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AssignTeacherToCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AssignStudentToCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageTeachersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teacher.TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.StudentPortal.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>